body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}

/* the asterisk indicates styling wil apply to all descendants of p elements*/
p * {
    display: block;
}

input[type="email"]{
    appearance: none;

    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;
    /* setting border-box means the width and height speciefied
    for an element WILL include paddin and border, rather than just the content width and height*/
    box-sizing: border-box;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%; 
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}